.location-search {
  margin-bottom: 30px;
}
.location-search-input {
  background-color: rgba(230,230,230,0.6); /* #E6E6E6*/
  color: #666666;
  font-size: 1.8em;
  border: solid 2px #E6E6E6;
  border-radius: 10px;
}