.weather-alerts {
  background-color: rgba(230, 230, 230, 0.6);

  width: 100%;
  font-size: 2rem;
  margin-top: 10px;
  border: solid 2px lightgrey;
  padding: 15px;
  border-radius: 10px;
}

.weather-alerts p {
  font-size: 1rem;
  margin-top: 5px;
}

