html {
  background-color: #222222;
}

.body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #e6e6e6;
}

.body h1 {
  font-size: 2.4rem;
  color: gray;
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
}

.body p {
  width: 30%;
  margin-bottom: 1.2rem;
}

.data-display {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  background-color: green;
  margin: 20px;
  padding: 20px;
  width: 400px;
  height: 300px;
}

.weather-alerts-place-holder {
  display: flex;
  align-items: center;
}

.graph-header {
  width: 380px;
}

.map-widget {
  padding:0px 0 0 0;
  margin-top: 30px;
  border: 2px solid lightgrey;
  /* -moz-border-radius: 50px; */
  border-radius: 20px;
  overflow: hidden;
  width:100%;
  height: 198px;
}