html {
  background-color: #222222;
}

.body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #e6e6e6;
}

.body h1 {
  font-size: 2.4rem;
  color: gray;
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
}

.body p {
  width: 30%;
  margin-bottom: 1.2rem;
}

.data-display {
  margin-bottom: 25px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(230, 230, 230, 0.6);
  border-radius: 10px;
  border: solid 2px lightgrey;
  padding-top: 10px;
  padding-bottom: 20px;
}

.container {
  background-color: green;
  margin: 20px;
  padding: 20px;
  width: 400px;
  height: 300px;
}

.weather-alerts-place-holder {
  display: flex;
  align-items: center;
}

.graph-header {
  width: 380px;
}
