.body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.body h1 {
  font-size: 2.4rem;
  color: gray;
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
}

.body p {
  width: 30%;
  margin-bottom: 1.2rem;
}

.data-display {
  display: flex;
}

.graph-place-holder {
  background-color: green;
  margin: 20px;
  padding: 20px;
  width: 600px;
  height: 400px;
}

.weather-alerts-place-holder {
  display: flex;
  align-items: center;
}