.display-currently {
  padding-left: 450px;
  display: flex;
  align-items: center;
}

.display-currently .conditions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.display-currently .temps {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.display-currently {
  font-size: 1.4rem;
}

.condition-icon {
  margin-bottom: -50px;
}

.rel-humidity .condition-icon {
  max-height: 30px;
  margin-right: 6px;
}

.condition-rh-percent {
  text-align: right;
  margin-top: 30px;
}

.display-currently > svg {
  fill: #444444;
}
