.display-currently {
  /* padding-left: 400px; */
  /* margin-left: 390px; */
  display: flex;
  align-items: center;    
  background-color: rgba(230,230,230,.6);
  border-radius: 10px;
  padding: 5px;
  white-space: nowrap;
}

.display-currently .conditions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.display-currently .temps {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.display-currently {
  font-size: 1.4rem;
}

.condition-icon {
  margin-bottom: -50px;
  width: 85px;
}

.rel-humidity .condition-icon {
  max-height: 30px;
  margin-right: 6px;
}

.condition-rh-percent {
  text-align: right;
  margin-top: 30px;
}

.display-currently > svg {
  fill: #444444;
}
